<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load properties -->
	<context:property-placeholder
		location="classpath:/properties/cricket.properties"></context:property-placeholder>

	<!-- Add a logger config to see logging messages. -->
	<bean
		id="myLoggerConfig"
		class="com.spring.demo.MyLoggerConfig"
		init-method="initLogger">
		<property
			name="rootLoggerLevel"
			value="FINE" />
		<property
			name="printedLoggerLevel"
			value="FINE" />
	</bean>

	<!-- define bean dependency -->
	<bean
		id="happyFortuneService"
		class="com.spring.demo.HappyFortune"></bean>

	<bean
		id="coach"
		class="com.spring.demo.TrackCoach">
		<!-- define injection -->
		<constructor-arg ref="happyFortuneService"></constructor-arg>
	</bean>

	<bean
		id="cricketCoach"
		class="com.spring.demo.CricketCoach">
		<!-- define setter injection -->
		<property
			name="fortuneService"
			ref="happyFortuneService"></property>
		<!-- define literal values -->
		<property
			name="emailAddress"
			value="cricketCoach@gmail.com"></property>
		<property
			name="team"
			value="Team-A"></property>
		<!-- load from properties -->
		<property
			name="status"
			value="${cricket.status}"></property>
		<property
			name="program"
			value="${cricket.program}"></property>
	</bean>

</beans>





